@model IEnumerable<Hotel1.Models.Loaiphong>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Loại phòng
            </th>
            <th>
                Số lượng phòng tối đa
            </th>
            <th>
                Giá loại phòng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Malp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soluongtoida)
                </td>
                <td>
                    @String.Format("{0:N0}", item.Gialoaiphong)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Malp">Sửa</a> |
                    
                    <a asp-action="Delete" asp-route-id="@item.Malp">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

